@model BE.U2_W3_D5.PS_PIZZERIA.Models.PIZZA

@{
    ViewBag.Title = "Details";
}

<h2>DETTAGLI PIZZA</h2>

<div class="container " id="areaRiservata">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomePizza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePizza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredienti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

       

    </dl>
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.IdPizza }) |
    @Html.ActionLink("Ritorna alle pizze", "Index")
</p>
</div>
