@model BE.U2_W3_D5.PS_PIZZERIA.Models.PIZZA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PIZZA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomePizza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePizza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredienti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPizza }) |
    @Html.ActionLink("Back to List", "Index")
</p>
