@model IEnumerable<BE.U2_W3_D5.PS_PIZZERIA.Models.PIZZA>

@{
    ViewBag.Title = "Index";
}

<h2>MENU</h2>


    @*<p>
        @Html.ActionLink("Crea Pizza", "Create")
    </p>*@
<div class="container-fluid" id="bgMenu">
    <div class="flexCard container">

        @foreach (var item in Model)
        {

            <div class="card" style="width: 18rem;">

                <img src="~/Content/img/@Html.DisplayFor(modelItem => item.Foto)" />
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.NomePizza)</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Ingredienti)</p>
                </div>

                <div class="card-text qta" >
                    <h5 class="card-title quantita"><input type="number" /></h5>


                </div>

                <div class="card-text">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Prezzo)</h5>

                </div>
                

                    <div class="btn btn-primary" id="contBtn" >
                        <a href="#" data-id="@item.IdPizza" class="OrdinaBtn">ORDINA</a>
                    </div>



            </div>

                    @*<div class="btn btn-primary">
                @Html.ActionLink("Modifica", "Edit", new { id = item.IdPizza })
            </div>*@
                    @*<div class="btn btn-primary">
                @Html.ActionLink("Dettagli", "Details", new { id = item.IdPizza })
             </div>
            <div class="btn btn-primary">
                 @Html.ActionLink("Elimina", "Delete", new { id = item.IdPizza })
            </div>*@
           
        }
    </div>


</div>


<script type="text/javascript">
    $(document).ready(function () {
        var baseUrl = "/Dettaglio/Index/";
        $(".OrdinaBtn").click(function () {
            var id = $(this).data("id");
            var quantity = $(this).parent("#contBtn").siblings(".qta").children(".quantita").children("input").val();
            
            location.href = baseUrl + "?id=" + id + "&quantity=" + quantity;
        });
    })
</script>



    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePizza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredienti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomePizza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredienti)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezzo)
                </td>
                <td>
                    <img src="~/Content/img/@Html.DisplayFor(modelItem => item.Foto)" width="100" />
                </td>
                <td>
                    @Html.ActionLink("Modifica", "Edit", new { id = item.IdPizza }) |
                    @Html.ActionLink("Dettagli", "Details", new { id = item.IdPizza }) |
                    @Html.ActionLink("Elimina", "Delete", new { id = item.IdPizza })
                </td>
            </tr>
        }

    </table>*@
@*</div>*@