@model IEnumerable<BE.U2_W3_D5.PS_PIZZERIA.Models.DETTAGLIO>

@{
    ViewBag.Title = "Index";
}

<h2>CARRELLO</h2>

<div class="container-fluid" id="bgMenu">

    <div class="container" id="areaRiservata">

        @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>*@
        <table class="table">
            <tr>

                <th class="fade-in-right">
                    @Html.DisplayNameFor(model => model.PIZZA.NomePizza)
                </th>
                <th class="fade-in-right">
                    @Html.DisplayNameFor(model => model.Quantita)
                </th>
                <th class="fade-in-right">
                    @Html.DisplayNameFor(model => model.PrezzoTotale)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.PIZZA.NomePizza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantita)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrezzoTotale)
                    </td>
                    <td>
                        @Html.ActionLink("Modifica", "Edit", new { id = item.IdDettaglio }) |

                        @Html.ActionLink("Elimina", "Delete", new { id = item.IdDettaglio })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>