@model BE.U2_W3_D5.PS_PIZZERIA.Models.USER

@{
    ViewBag.Title = "Login";
}



<h2>Area riservata</h2>
<div class="container" id="areaRiservata">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="contflex">
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-6">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label " })
                    <div >
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-6">
                    @Html.LabelFor(model => model.Pass, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Accedi" class="btn btn-default" id="btnAccedi" />
                    </div>
                </div>
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
