<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<div class="d-flex flex-column main">  
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Views/MenuPizza/Index.cshtml">
                <!--<img src="~/Content/img/logo.png" alt="Logo" width="60"--> @*height="24"*@ <!--class="d-inline-block align-text-top" />-->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">@Html.ActionLink("🖐 ESCI", "LogOut", "Home") </li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("🔒 ENTRA", "Login", "Home") </li>
                    }

                    @if (User.Identity.Name == "Admin")
                    {
                        
                    <li class="nav-item">@Html.ActionLink("AREA PRIVATA", "ListaAdmin", "MenuPizza")</li>

                    }
                    <li class="nav-item">@Html.ActionLink("MENU", "Index", "MenuPizza")</li>

                    @if (User.Identity.Name == "Admin")
                    {
                        <li class="nav-item">@Html.ActionLink("ORDINI", "Index", "Ordine")</li>

                    }

                    <li class="nav-item">@Html.ActionLink("CARRELLO", "Index", "Dettaglio")</li>
                </ul>

            </div>
        </div>
    </nav>
    

    <div >
        @RenderBody()

    </div>


    <footer>
        <p >&copy; @DateTime.Now.Year - Applicazione ASP.NET by Nicola Lerra</p>
    </footer>


    </div>













    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Nome dell'applicazione", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("🖐️ Esci", "LogOut", "Home") </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("🔒 Autenticati", "Login", "Home") </li>
                        }
                        <li>@Html.ActionLink("Menu", "Index", "MenuPizza")</li>
                        <li>@Html.ActionLink("Informazioni", "About", "Home")</li>
                        <li>@Html.ActionLink("Contatto", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
